@font-face {
  font-family: dui-icons;
  src: url(./assets/fonts/dui-icons.woff) format('woff'),
       url(./assets/fonts/dui-icons.ttf) format('truetype');
  font-weight: normal;
  font-display: inline;
  font-style: normal;
}
